# Create a name splitter function for illumina sample output
1) import csv <br>
2) subset 'Sample' <br>
3) break 'Sample' by seperator, subset. <br>
4) rejoin.

In [1]:
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Directory you're currently in
os.chdir('/home/rogertu')

In [3]:
# Open the csv, seperate it by ","
df = pd.read_csv('indel_analysis.csv', header = 0, sep = ',')
df.head()

,Sample,Indel (stringent) %,Indel %,Reads filered (low Phred),Reads lacking nmer(s),Reads passing filters,Total Indels (stringent),Total Indels
0,CTW_051519_0hr_A1G_DMSO_1_EMX1_ON_S358_R1_001....,0.0,0.0,109,191,109,0,0
1,CTW_051519_0hr_A1G_DMSO_2_EMX1_ON_S359_R1_001....,0.0,0.0,657,2439,2610,0,0
2,CTW_051519_0hr_A1G_DMSO_3_EMX1_ON_S360_R1_001....,0.0,0.0,103,184,88,0,0
3,CTW_051519_0hr_A5C_DMSO_1_EMX1_ON_S361_R1_001....,0.0,0.0,145,129,38,0,0
4,CTW_051519_0hr_A5C_DMSO_2_EMX1_ON_S362_R1_001....,0.0,0.0,707,3409,3900,0,0

In [4]:
# take the dataframe column 'sample', split it by '_', and store in df1
df1 = df['Sample'].str.split(pat = '_', expand = True)
df1.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,CTW,051519,0hr,A1G,DMSO,1,EMX1,ON,S358,R1,001.fastqwtf-difflib,indels.csv
1,CTW,051519,0hr,A1G,DMSO,2,EMX1,ON,S359,R1,001.fastqwtf-difflib,indels.csv
2,CTW,051519,0hr,A1G,DMSO,3,EMX1,ON,S360,R1,001.fastqwtf-difflib,indels.csv
3,CTW,051519,0hr,A5C,DMSO,1,EMX1,ON,S361,R1,001.fastqwtf-difflib,indels.csv
4,CTW,051519,0hr,A5C,DMSO,2,EMX1,ON,S362,R1,001.fastqwtf-difflib,indels.csv

In [ ]:
# Show more rows...
# pd.set_option('display.max_rows', 100)

In [5]:
# Keep only columns 2 through 6
df2 = df1.iloc[:,2:6]

In [7]:
# Rename columns 2 through 6
df2.columns = ["hours","condition","concentration (nM)","rep"]
df2.head()

  hours condition concentration (nM) rep
0   0hr       A1G               DMSO   1
1   0hr       A1G               DMSO   2
2   0hr       A1G               DMSO   3
3   0hr       A5C               DMSO   1
4   0hr       A5C               DMSO   2

##### bonus: if you want to remap your column variables.

In [8]:
# get unique items in the dataframe
conc_ls = list(df2['concentration (nM)'].unique())
conc_ls

['DMSO', '100nM', '4nM', '500nM', 'point8', '10uM', '20nM', 'NA', '1uM']

In [9]:
# create a list to map your original unique values to new values
new_conc_ls = ['DMSO', 100, 4,500, 0.8, 10000, 20, 'NA', 1000]

In [10]:
# create the dictionary. Key is 'conc_ls'. Value is 'new_conc_ls'
conc_dict = {conc_ls[i]:new_conc_ls[i] for i in range(len(conc_ls))}

In [11]:
conc_dict

{'DMSO': 'DMSO',
 '100nM': 100,
 '4nM': 4,
 '500nM': 500,
 'point8': 0.8,
 '10uM': 10000,
 '20nM': 20,
 'NA': 'NA',
 '1uM': 1000}

In [12]:
#remap concentration (nM) with new values based on dictionary
df2['concentration (nM)'] = df2['concentration (nM)'].map(conc_dict)

/home/rogertu/UKBB/UKvenv/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
df2.head()

  hours condition concentration (nM) rep
0   0hr       A1G               DMSO   1
1   0hr       A1G               DMSO   2
2   0hr       A1G               DMSO   3
3   0hr       A5C               DMSO   1
4   0hr       A5C               DMSO   2

In [15]:
# rejoin columns!
df_row = pd.concat([df2, df], axis =1)
df_row.head()

,hours,condition,concentration (nM),rep,Sample,Indel (stringent) %,Indel %,Reads filered (low Phred),Reads lacking nmer(s),Reads passing filters,Total Indels (stringent),Total Indels
0,0hr,A1G,DMSO,1,CTW_051519_0hr_A1G_DMSO_1_EMX1_ON_S358_R1_001....,0.0,0.0,109,191,109,0,0
1,0hr,A1G,DMSO,2,CTW_051519_0hr_A1G_DMSO_2_EMX1_ON_S359_R1_001....,0.0,0.0,657,2439,2610,0,0
2,0hr,A1G,DMSO,3,CTW_051519_0hr_A1G_DMSO_3_EMX1_ON_S360_R1_001....,0.0,0.0,103,184,88,0,0
3,0hr,A5C,DMSO,1,CTW_051519_0hr_A5C_DMSO_1_EMX1_ON_S361_R1_001....,0.0,0.0,145,129,38,0,0
4,0hr,A5C,DMSO,2,CTW_051519_0hr_A5C_DMSO_2_EMX1_ON_S362_R1_001....,0.0,0.0,707,3409,3900,0,0

In [16]:
# export to current directory.
df_row.to_csv(path_or_buf  = './example.csv',header = True, index = False)

### Function

In [17]:
def Sample_splitter(a_df):
    """takes a dataframe and splits by '_'.
    Keeps only hours, condition, concentration, and replicates"""
    
    df1 = a_df['Sample'].str.split(pat = '_', expand = True) #splits by '_'
    df2 = df1.iloc[:,2:6] #keeps index 2:6
    df2.columns = ["hours","condition","concentration (nM)","rep"] #renames col
    df_row = pd.concat([df2, a_df], axis =1) #concats columns together
    return(df_row)

### Test

In [18]:
df123 = pd.read_csv('indel_analysis.csv', header = 0, sep = ',')
ex_df = Sample_splitter(df123)
ex_df.head()

,hours,condition,concentration (nM),rep,Sample,Indel (stringent) %,Indel %,Reads filered (low Phred),Reads lacking nmer(s),Reads passing filters,Total Indels (stringent),Total Indels
0,0hr,A1G,DMSO,1,CTW_051519_0hr_A1G_DMSO_1_EMX1_ON_S358_R1_001....,0.0,0.0,109,191,109,0,0
1,0hr,A1G,DMSO,2,CTW_051519_0hr_A1G_DMSO_2_EMX1_ON_S359_R1_001....,0.0,0.0,657,2439,2610,0,0
2,0hr,A1G,DMSO,3,CTW_051519_0hr_A1G_DMSO_3_EMX1_ON_S360_R1_001....,0.0,0.0,103,184,88,0,0
3,0hr,A5C,DMSO,1,CTW_051519_0hr_A5C_DMSO_1_EMX1_ON_S361_R1_001....,0.0,0.0,145,129,38,0,0
4,0hr,A5C,DMSO,2,CTW_051519_0hr_A5C_DMSO_2_EMX1_ON_S362_R1_001....,0.0,0.0,707,3409,3900,0,0